mixin header()
  header(class='headline')
    div(class='container')
      h1 연잇
      h4
        | 연달아 이어가는
        br
        | 우리의 끝말잇기 이야기
      
      a(class='button button-black button-large' href='/app') 시작하기
