mixin navbar(title, type)
  nav(class='navigation')
    section(class='container')
      a(class='navigation-title' href='/')
        h1(class='title')= title
      ul(class='navigation-list float-right')
        if type === 'session'
          include ../shards/navitems/session
        else if type === 'app'
          include ../shards/navitems/app
        else
          include ../shards/navitems/index
