extends layout/main
include components/navbar
include components/header
include shards/blankSection
include shards/buttonDefault
include shards/imageSection
include shards/imageSectionCenterialized
include shards/textSection
include shards/textSectionCenterialized

block content
  +navbar(config.service.name, 'app')
  +blankSection('45')

  article
    div.container
      center
        img.block(src=user.avatar)

  +textSectionCenterialized(
    user.name + '님, 반갑습니다',
    '아래에서 원하는 게임모드를 선택하여 연잇을 시작해보세요.'
  )

  article
    div.container
      table
        thead
          th 게임
          th 플레이어
          th 참가
        tbody
          each game in games
            tr
              td= game.name
              td= game.join
              td
                a(href='/app/' + game.id) 참가
          else
            tr
              td 현재 참가할 수 있는 게임이 없습니다
              td &ndash;
              td &ndash;
