extends layout/main

include components/navbar
include components/header
include shards/blankSection
include shards/textSection
include shards/textSectionCenterialized
include shards/imageSection
include shards/imageSectionCenterialized

block content
  +navbar(config.service.name)
  +header()
