extends layout/main

include components/navbar
include components/header
include shards/blankSection
include shards/emptySection
include shards/buttonDefault
include shards/buttonTwitter
include shards/textSection
include shards/textSectionCenterialized

block content
  +navbar('연잇', 'session')
  
  +blankSection('45')
  +textSectionCenterialized(
    '로그인',
    '소셜 계정으로 연잇에 로그인하여 시작하세요.'
  )

  article.center
    div(class='container')
      +buttonDefault('Google로 로그인', '/session/authentication/google', 'fab fa-google')
