::selection {
  background-color: #E6E6FA;
}

html {
  max-width: 100vw;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}

main {
  position: relative;
}

nav {
  height: 50px;

  position: fixed;
  z-index: 1;
}
